<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Info</title>
    <link rel="icon" type="image/svg" href="/Static/foto/logo hkbp.svg">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
     @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body {
      font-family: 'Poppins', sans-serif;
    }

    h1, h3, p {
    font-family: 'Poppins', sans-serif;
    }
        .container {
            margin-top: 20px;
        }
        .card {
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .card-header {
            font-size: 1.25rem;
            font-weight: bold;
            background-color: #002855;
            color: #ffffff;
        }
        .card-body p {
            font-size: 1rem;
            margin-bottom: 8px;
        }
        h1 {
            color: #002855;
            font-weight: bold;
            margin-top: 20px;
            text-align: center;
        }
        .info-label {
            font-weight: bold;
            color: #495057;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>More Info</h1>
        
        {% if user and page == "anak_lahir" %}
            <div class="card">
                <div class="card-header">Anak Lahir</div>
                <div class="card-body">
                    <p><span class="info-label">Nama Lengkap:</span> {{ user[1] }}</p>
                    <p><span class="info-label">Jenis Kelamin:</span> {{ user[2] }}</p>
                    <p><span class="info-label">WIJK:</span> {{ user[3] }}</p>
                    <p><span class="info-label">Tempat Lahir:</span> {{ user[4] }}</p>
                    <p><span class="info-label">Tanggal Lahir:</span> {{ user[5] }}</p>
                </div>
            </div>
        
        {% elif user and page == "baptis" %}
            <div class="card">
                <div class="card-header">Baptis</div>
                <div class="card-body">
                    <p><span class="info-label">Nama Lengkap:</span> {{ user[1] }}</p>
                    <p><span class="info-label">Jenis Kelamin:</span> {{ user[2] }}</p>
                    <p><span class="info-label">WIJK:</span> {{ user[3] }}</p>
                    <p><span class="info-label">Tempat Lahir:</span> {{ user[4] }}</p>
                    <p><span class="info-label">Tanggal Lahir:</span> {{ user[5] }}</p>
                    <p><span class="info-label">Tanggal Baptis:</span> {{ user[6] }}</p>
                </div>
            </div>    
        {% elif user and page == "sidi" %}
                <div class="card">
                    <div class="card-header">Sidi</div>
                    <div class="card-body">
                        <p><span class="info-label">Nama Lengkap:</span> {{ user[1] }}</p>
                        <p><span class="info-label">Jenis Kelamin:</span> {{ user[2] }}</p>
                        <p><span class="info-label">WIJK:</span> {{ user[3] }}</p>
                        <p><span class="info-label">Tempat Lahir:</span> {{ user[4] }}</p>
                        <p><span class="info-label">Tanggal Lahir:</span> {{ user[5] }}</p>
                        <p><span class="info-label">Tanggal Baptis:</span> {{ user[6] }}</p>
                        <p><span class="info-label">Tanggal Sidi:</span> {{ user[7] }}</p>
                    </div>
                </div>
        {% elif user and page == "rpp" %}
                <div class="card">
                    <div class="card-header">RPP</div>
                    <div class="card-body">
                        <p><span class="info-label">Nama Lengkap:</span> {{ user[1] }}</p>
                        <p><span class="info-label">Jenis Kelamin:</span> {{ user[2] }}</p>
                        <p><span class="info-label">WIJK:</span> {{ user[3] }}</p>
                        <p><span class="info-label">Tanggal RPP:</span> {{ user[4] }}</p>
                        <p><span class="info-label">Alasan RPP:</span> {{ user[5] }}</p>
                    </div>
                </div>
            
        
        {% elif user and page == "martumpol" %}
            
                <div class="card">
                    <div class="card-header">Martumpol</div>
                    <div class="card-body">
                        <h5>Pihak Laki-Laki</h5>
                        <p><span class="info-label">Nama Lengkap:</span> {{ user[1] }}</p>
                        <p><span class="info-label">Nama Ayah:</span> {{ user[2] }}</p>
                        <p><span class="info-label">Nama Ibu:</span> {{ user[3] }}</p>
                        <p><span class="info-label">Tempat Lahir:</span> {{ user[4] }}</p>
                        <p><span class="info-label">WIJK:</span> {{ user[5] }}</p>
                        
                        <h5>Pihak Perempuan</h5>
                        <p><span class="info-label">Nama Lengkap:</span> {{ user[6] }}</p>
                        <p><span class="info-label">Nama Ayah:</span> {{ user[7] }}</p>
                        <p><span class="info-label">Nama Ibu:</span> {{ user[8] }}</p>
                        <p><span class="info-label">Tempat Lahir:</span> {{ user[9] }}</p>
                        <p><span class="info-label">WIJK:</span> {{ user[10] }}</p>
                        
                        <h5>Rencana Martumpol</h5>
                        <p><span class="info-label">Tanggal Rencana:</span> {{ user[11] }}</p>
                        <p><span class="info-label">Jam Rencana:</span> {{ user[12] }}</p>
                    </div>
                </div>
            
        
        {% elif user and page == "kebaktian" %}
            
                <div class="card">
                    <div class="card-header">Kebaktian</div>
                    <div class="card-body">
                        <p><span class="info-label">Nama Kebaktian:</span> {{ user[1] }}</p>
                        <p><span class="info-label">Tanggal Kebaktian:</span> {{ user[2] }}</p>
                        <p><span class="info-label">Pengkhotbah:</span> {{ user[3] }}</p>
                        <p><span class="info-label">Liturgis:</span> {{ user[4] }}</p>
                        <p><span class="info-label">Jumlah Perhalado:</span> {{ user[5] }}</p>
                        <p><span class="info-label">Keterangan:</span> {{ user[6] }}</p>
                        <p><span class="info-label">Jenis Ibadah:</span> {{ user[7] }}</p>
                        <p><span class="info-label">Jumlah Laki:</span> {{ user[8] }}</p>
                        <p><span class="info-label">Jumlah Perempuan:</span> {{ user[9] }}</p>
                        <p><span class="info-label">Total Jemaat:</span> {{ user[10] }}</p>
                        <p><span class="info-label">Bapak:</span> {{ user[11] }}</p>
                        <p><span class="info-label">Ibu:</span> {{ user[12] }}</p>
                        <p><span class="info-label">Naposo:</span> {{ user[13] }}</p>
                        <p><span class="info-label">Remaja:</span> {{ user[14] }}</p>
                        <p><span class="info-label">Sekolah Minggu:</span> {{ user[15] }}</p>
                    </div>
                </div>
            
        
        {% elif user and page == "pernikahan" %}
                <div class="card">
                    <div class="card-header">Pernikahan</div>
                    <div class="card-body">
                        <h5>Pihak Laki-Laki</h5>
                        <p><span class="info-label">Nama Lengkap:</span> {{ user[1] }}</p>
                        <p><span class="info-label">Nama Ayah:</span> {{ user[2] }}</p>
                        <p><span class="info-label">Nama Ibu:</span> {{ user[3] }}</p>
                        <p><span class="info-label">Tempat Lahir:</span> {{ user[4] }}</p>
                        <p><span class="info-label">WIJK:</span> {{ user[5] }}</p>
                        
                        <h5>Pihak Perempuan</h5>
                        <p><span class="info-label">Nama Lengkap:</span> {{ user[6] }}</p>
                        <p><span class="info-label">Nama Ayah:</span> {{ user[7] }}</p>
                        <p><span class="info-label">Nama Ibu:</span> {{ user[8] }}</p>
                        <p><span class="info-label">Tempat Lahir:</span> {{ user[9] }}</p>
                        <p><span class="info-label">WIJK:</span> {{ user[10] }}</p>
                        
                        <h5>Rencana Pernikahan</h5>
                        <p><span class="info-label">Tanggal Rencana:</span> {{ user[11] }}</p>
                        <p><span class="info-label">Jam Rencana:</span> {{ user[12] }}</p>
                    </div>
                </div>
            
        
        {% elif user and page == "meninggal" %}
            
                <div class="card">
                    <div class="card-header">Data Monding</div>
                    <div class="card-body">
                        <p><span class="info-label">Nama Lengkap:</span> {{ user[1] }}</p>
                        <p><span class="info-label">Jenis Kelamin:</span> {{ user[2] }}</p>
                        <p><span class="info-label">WIJK:</span> {{ user[3] }}</p>
                        <p><span class="info-label">Monding:</span> {{ user[4] }}</p>
                    </div>
                </div>
            
        
        {% elif user and page == "pelayanan" %}
            
                <div class="card">
                    <div class="card-header">Pelayanan</div>
                    <div class="card-body">
                        <p><span class="info-label">Nama Lengkap:</span> {{ user[1] }}</p>
                        <p><span class="info-label">Jenis Kelamin:</span> {{ user[2] }}</p>
                        <p><span class="info-label">Status Pelayanan:</span> {{ user[3] }}</p>
                        <p><span class="info-label">Jenis Pelayanan:</span> {{ user[4] }}</p>
                        <p><span class="info-label">Tanggal Tahbisan:</span> {{ user[5] }}</p>
                    </div>
                </div>
        {% elif user and page == "hamauliateon" %}
                <div class="card">
                    <div class="card-header">Hamauliateon</div>
                    <div class="card-body">
                        <p><span class="info-label">Username        : </span> {{ user[1] }}</p>
                        <p><span class="info-label">Nama            : </span> {{ user[2] }}</p>
                        <p><span class="info-label">Tanggal         : </span> {{ user[3] }}</p>
                        <p><span class="info-label">Huria           : </span> {{ user[4] }}</p>
                        <p><span class="info-label">Pembangunan     : </span> {{ user[5] }}</p>
                        <p><span class="info-label">Diakonia        : </span> {{ user[6] }}</p>
                        <p><span class="info-label">Pendeta         : </span> {{ user[7] }}</p>
                        <p><span class="info-label">Sintua          : </span> {{ user[8] }}</p>
                        <p><span class="info-label">Perhalado       : </span> {{ user[9] }}</p>
                        <p><span class="info-label">AMA             : </span> {{ user[10] }}</p>
                        <p><span class="info-label">INA             : </span> {{ user[11] }}</p>
                        <p><span class="info-label">NHKBP           : </span> {{ user[12] }}</p>
                        <p><span class="info-label">Remaja          : </span> {{ user[13] }}</p>
                        <p><span class="info-label">Sekolah Minggu  : </span> {{ user[14] }}</p>
                        <p><span class="info-label">Pemusik         : </span> {{ user[15] }}</p>
                        <p><span class="info-label">Multimedia      : </span> {{ user[16] }}</p>
                        <p><span class="info-label">Song Leader     : </span> {{ user[17] }}</p>
                        <p><span class="info-label">Total           : </span> {{ user[18] }}</p>
                    </div>
                </div>    
        
        {% else %}
            <div class="alert alert-warning" role="alert">Error memuat data</div>
        {% endif %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
